@import "tailwindcss";

@layer base {
    a , span {
        @apply inline-block;
    }
    button, a {
        cursor: pointer;
    }
}

@layer components {
    .btn {
        @apply px-4 py-2 rounded-xl bg-gray-200 text-gray-900 font-semibold hover:bg-gray-300 transition-colors duration-200;
    }
    .form-control{
        @apply px-3 py-2 rounded-md border border-gray-400/40 focus:outline-none focus:border-green-600
    }
}

@utility container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
}